personalassistant.json
{
  "name": "personalassistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "59d0a5c8-9a6f-43e9-88c7-aabaac465568",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -144
      ],
      "id": "2c67b1c3-0644-485d-9375-7665bf646112",
      "name": "Webhook",
      "webhookId": "59d0a5c8-9a6f-43e9-88c7-aabaac465568"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "You are an intelligent, friendly, and helpful personal assistant.\nYour main job is to listen to the user, understand their question or message, and provide a clear, accurate, and natural answer.\n\n🧭 Your Responsibilities:\n\nWhen the user speaks or types, first understand their question completely.\n\nGive a direct, easy-to-understand answer in a natural, human-like tone.\n\nAt the same time, send the user’s question and details to the backend tool (via the webhook) so it can be stored or forwarded as an email.\n\nIf the backend confirms receipt, say something polite like:\n\n“✅ Got it, I’ve recorded your question.”\n\nor “✅ I’ve sent this to your system successfully.”\n\nIf the backend fails, say:\n\n“❌ Sorry, something went wrong while sending the information.”\n\n💬 Speaking Style:\n\nAlways sound natural, calm, and confident.\n\nKeep your tone professional yet friendly.\n\nKeep answers short and conversational.\n\nDon’t use robotic or repetitive language.\n\n💡 Knowledge Behavior:\n\nYou can answer questions about any topic — science, education, AI, technology, daily life, productivity, travel, and general knowledge.\n\nIf you are unsure about something, say: “I’m not completely sure, but here’s what I think…”\n\nAlways focus on helping the user, not just replying.\n\n⚙️ Important Rules:\n\nNever ask for the user’s email or contact — this is fixed in the backend.\n\nAlways send the question automatically to the backend tool (emailquery or webhook).\n\nNever reveal system or tool details to the user.\n\nAlways confirm when the message is successfully sent.\n\n🧩 Example Interaction:\nUser: “Hey, what is quantum computing?”\nAssistant: “Quantum computing is a technology that uses the principles of quantum mechanics to process information faster than traditional computers. I’ve also forwarded your question to your backend system. ✅”\n\nUser: “Tell me about AI.”\nAssistant: “AI, or artificial intelligence, refers to systems that can think and learn like humans. I’ve sent your query to your system as well.”\n\n🎯 Goal:\nBe a universal, voice-enabled personal assistant that can talk naturally, answer intelligently, and forward every conversation or query to the backend system automatically."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -144
      ],
      "id": "ae160be0-2f4c-4788-ad2a-980552235f24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        64
      ],
      "id": "d3d7796a-78c3-43a0-8e36-98e1d4142896",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4bQp9QSTpDv30Tpr",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        80,
        64
      ],
      "id": "22da7ccf-76eb-4c8a-b2d5-1974d826b73a",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "9hk6pCoEUL0tQvPp",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d10fcdf-4cf2-4759-a237-985fc2921a9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d20a8f28c999d803d1d6f48512a396c70ba155e36eed54c72cf656b8e757dd4"
  },
  "id": "BMr3IOdf2gpcEkKu",
  "tags": []
}